h1, h2, h3, h4, h5, h5{
    font-family: 'Noto Sans', sans-serif;;
}

p, a, input, label, textarea, span, ul, li{
    font-family: 'Noto Sans', sans-serif;
}

.btn{
    font-size:5ch;
    background: #f05f5c;
    color: white;
    padding: 30px 70px;
    border-radius: 20px;
}

#intro {
    display: flex;
    justify-content: center;
}

#intro .jumbotron{

    height: 60vh;
    width: 70%;
}

#intro h1{
    font-size: 52px;
    font-weight:400;
    line-height: 1;
}

#intro .container{
    text-align: center;
    position: relative;;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#second{
    margin-bottom: 30px;
}

.social{
    display: flex;
    justify-content: center;
}


.social .jumbotron {
    height: 20vh;
    width: 70%;

}

.social .container{
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



img {
    margin: 5px;
}